<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="PreserveLoginUrl" value="true"/>

    <add key="ConStringEncrypt" value="false"/>
    <add key="ConnectionString" value="Server=XCL-PC\SQL2012;Database=XCLShouCangDB;User Id=sa;Password=sa1989;"/>


    <add key="WebURL" value="http://www.dadianzhu.com"/>
    <add key="WebMainURL" value="http://www.dadianzhu.com"/>
    <add key="WebName" value="大店主"/>
    <add key="Title" value="大店主——淘宝买家信用查询_淘宝信誉查询_淘宝小号查询_淘宝卖家信用查询，dadianzhu.com"/>
    <add key="KeyWords" value="大店主,淘宝买家信用查询,淘宝卖家信用查询,信誉查询,淘宝助理,卖家工具箱,淘宝客,淘宝联盟,淘宝卖家工具,淘宝信誉,在线查询,买家,卖家,淘宝网,信誉查询服务,信用查询,天猫数据采集,商家信息查询, dadianzhu.com"/>
    <add key="Description" value="大店主信誉信用查询网站,免费查询淘宝买家信用、卖家信用，淘宝防降权、淘宝小号查询最实用的网站，同时还提供淘宝天猫数据采集、宝贝分析的一个专业在线查询网站！"/>
    <add key="SimpleDescription" value="淘宝数据查询分析平台"/>
    <add key="CopyRight" value="&amp;copy;2012-{Year} &lt;a href=&quot;http://www.dadianzhu.com&quot; target=&quot;_blank&quot;&gt;大店主（dadianzhu.com）&lt;/a&gt;. All Rights Reserved. 鄂ICP备14016278号-1"/>
    <add key="AdminEmail" value="admin@wdydh.com"/>

    <add key="QQAppID" value="101158309"/>
    <add key="QQAppKey" value="729ccbe35943fafd8892a61a15a476fa"/>
    <add key="QQLoginRedirectURL" value="http://www.wdydh.com/Login/QQLoginCallBack"/>
    <!--明文：XCL1989-->
    <add key="QQStateValue" value="F9D77151F0403B1F889ABBB3FF40F02A"/>
    <add key="QQStateKey" value="XCL1989"/>
        
    
    
    <!--淘宝相关配置-->
    <add key="TB_ProductSearchListURL" value="http://list.tmall.com/search_product.htm?q={kw}"/>
    <add key="TB_ProductURL" value="http://detail.tmall.com/item.htm?id={ID}"/>
    <add key="TB_ProductDetailURL" value="http://mdskip.taobao.com/core/initItemDetail.htm?addressLevel=2&amp;service3C=false&amp;tmallBuySupport=true&amp;showShopProm=false&amp;isRegionLevel=false&amp;sellerPreview=false&amp;offlineShop=false&amp;itemTags=385,775,907,1163,1478,1483,1803,2049,2059,2123,2187,2251,2443,2507,2635,3019,3851,3974,4107,4166,4171,4363,4555,4811,5954,12737,15810,25026,25282,28866,41410,44930&amp;isForbidBuyItem=false&amp;sellerUserTag2=18020085583052808&amp;isAreaSell=false&amp;tgTag=false&amp;isApparel=true&amp;sellerUserTag=35196960&amp;queryMemberRight=true&amp;isSecKill=false&amp;sellerUserTag3=144185556820066432&amp;sellerUserTag4=1729382398679860611&amp;itemId={ID}"/>
    <add key="TB_ShopURL" value="http://store.taobao.com?user_number_id={ShopID}"/>
    <add key="TB_ProductRateURL" value="http://dsr.rate.tmall.com/list_dsr_info.htm?itemId={ID}&amp;callback=XCLTBTool"/>
    <add key="TB_UserProfileURL" value="http://member1.taobao.com/member/user_profile.jhtml?userID={UID}"/><!--个人档案查看地址-->
    <add key="TB_UserRateHomeURL" value="http://rate.taobao.com/user-rate-{UID}.htm"/><!--信誉首页-->
    
    
    
    <add key="TB_SearchIntervalSecond" value="1"/>
    <add key="TB_Province" value="北京,天津,上海,重庆,河北,山西,内蒙古,辽宁,吉林,黑龙江,江苏,浙江,安徽,福建,江西,山东,河南,湖北,湖南,广东,广西,海南,四川,贵州,云南,西藏,陕西,甘肃,青海,宁夏,新疆,台湾,香港,澳门,海外,美国"/>
    <add key="TB_ProvinceSingle" value="北京,天津,上海,重庆,台湾,香港,澳门,海外,美国"/>


</appSettings>